/*AJUSTES GENERALES*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background: #FFFFFC;
}

.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

/* AJUSTES HEADER Y PORTADA */
.cabecera {
  width: 100%;
  position: fixed;
  padding: 10px 0;
  -webkit-transition: .3s;
  transition: .3s;
  top: 0;
}

.cabecera .contenido-cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabecera .contenido-cabecera .logo {
  width: 15%;
}

.cabecera .contenido-cabecera .logo img {
  width: 100%;
  vertical-align: top;
}

.cabecera .contenido-cabecera .menu .elementos-menu a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-left: 20px;
}

.cabecera .contenido-cabecera .menu .elementos-menu .btn-menu {
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.cabecera .contenido-cabecera .menu .elementos-menu .btn-menu:hover {
  background: #ff934f;
  padding: 20px 10;
  border: 2px solid #ff934f;
}

.scroll {
  background: #0a0908;
  z-index: 999;
}

.hero {
  background: url(../img/bg1.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .texto-hero {
  text-align: center;
  margin: auto;
}

.hero .texto-hero .eterno {
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
}

.hero .texto-hero .eterno .progreso {
  color: #ffffff;
  font-weight: 600;
}

.hero .texto-hero .vive {
  color: #ffffff;
  font-size: 25px;
  position: relative;
  bottom: 40px;
}

.hero .btn-hero {
  text-align: center;
}

.hero .btn-hero a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  margin: 0 10px;
  display: inline-block;
  padding: 15px 25px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.hero .btn-hero .accion {
  border: 2px solid #ff934f;
  background: #ff934f;
}

.hero .conoce-mas {
  width: 1200px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0;
}

.hero .conoce-mas a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.hero .conoce-mas .conoce {
  font-size: 12px;
}

/* AJUSTES CURSOS */
.cursos {
  margin: 80px 0;
}

.cursos .titulo-1 {
  font-size: 30px;
  text-align: center;
  color: #36414D;
  margin-bottom: 40px;
}

.cursos .contenedor-cursos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cursos .contenedor-cursos .curso {
  width: 32%;
  color: #36414D;
}

.cursos .contenedor-cursos .curso .imagen-curso {
  width: 100%;
}

.cursos .contenedor-cursos .curso .imagen-curso img {
  width: 100%;
  vertical-align: top;
}

.cursos .contenedor-cursos .curso .titulo-curso {
  font-size: 24px;
}

.cursos .contenedor-cursos .curso .descripcion-curso {
  text-align: justify;
  font-style: italic;
}

.cursos .contenedor-cursos .curso .maestro {
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  color: #65788b;
}

.cursos .contenedor-cursos .curso .maestro span {
  font-weight: 500;
}

.cursos .contenedor-cursos .curso .precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -30px;
}

.cursos .contenedor-cursos .curso .precio a {
  font-size: 18px;
  color: #004CB0;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.cursos .contenedor-cursos .curso .precio p {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  bottom: 5px;
}

.banner-1 {
  background: url(../img/banner-1.webp);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}

.banner-1 .contenedor-2 {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.banner-1 .contenedor-2 .imagen-vende-tu-arte {
  width: 33%;
}

.banner-1 .contenedor-2 .imagen-vende-tu-arte img {
  width: 100%;
  vertical-align: top;
}

.banner-1 .contenedor-2 .banner-info-1 {
  width: 65%;
  padding-left: 20px;
  position: relative;
  bottom: 20px;
}

.banner-1 .contenedor-2 .banner-info-1 h2 {
  font-size: 35px;
}

.banner-1 .contenedor-2 .banner-info-1 h3 {
  font-size: 20px;
}

.banner-1 .contenedor-2 .banner-info-1 ul {
  padding-left: 20px;
}

.banner-1 .contenedor-2 .banner-info-1 a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  background: #FF934F;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.banner-1 .contenedor-2 .banner-info-1 a:hover {
  background: #ffa66e;
}

.principios {
  width: 100%;
  margin: 60px 0;
}

.principios .contenedor {
  width: 95%;
  max-width: 1200;
}

.principios .contenedor .titulo {
  color: #36414D;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.principios .contenedor .contenedor-principios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.principios .contenedor .contenedor-principios .principio {
  width: 33%;
  padding: 40px 50px;
}

.principios .contenedor .contenedor-principios .principio .principio-imagen {
  width: 85%;
  margin: auto;
}

.principios .contenedor .contenedor-principios .principio .principio-imagen img {
  width: 100%;
  vertical-align: top;
  text-align: center;
}

.principios .contenedor .contenedor-principios .principio .principio-descripcion p {
  text-align: justify;
}

.banner-2 {
  background: url(../img/banner-2.webp);
  background-position: center;
  background-size: cover;
  padding: 40px 0;
}

.banner-2 h2 {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.banner-2 .contenedor-banner-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  color: #ffffff;
}

.banner-2 .contenedor-banner-2 video {
  width: 55%;
  display: block;
}

.banner-2 .contenedor-banner-2 .testimonio {
  padding-left: 20px;
}

.banner-2 .contenedor-banner-2 .testimonio h3 {
  font-size: 28px;
  line-height: 0px;
}

.banner-2 .contenedor-banner-2 .testimonio h3 span {
  font-size: 20px;
}

.banner-2 .contenedor-banner-2 .testimonio p {
  font-style: italic;
}

.banner-2 .contenedor-banner-2 .testimonio ul {
  padding: 20px;
}

.banner-2 .contenedor-banner-2 .testimonio ul li {
  font-style: italic;
  margin-bottom: 10px;
}

.pie-de-pagina .menu-footer {
  background: #004CB0;
  padding: 40px 0;
  text-align: center;
}

.pie-de-pagina .menu-footer a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
}

.pie-de-pagina .copyright {
  background: #0A0908;
  padding: 10px 0;
  color: #ffffff;
  text-align: center;
}

.pie-de-pagina .copyright p a {
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */